*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

header ul li a 
{
    text-decoration: none;
    color:black;
    padding: 17px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

header ul
{
    display: flex;
    /* align-items: center; */
}

header ul li 
{
    list-style: none;
    margin-top:5px;
    /* padding:10px; */
}

.b1 
{
    padding:15px;
    border:none;
    background-color: #86c33a;
    border-radius:30px;
    width:150px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-left:-20px;
    display: block;
}

header 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0px 0px;
    padding:6px;
    position: sticky;
    width:100%;
    background-color: white;
    z-index:5;
}

img 
{
    width:120px;
}

.material-icons 
{
    font-weight: 600;
    display: none!important;
}

.section2 
{
    height:75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.712)), url(./Assets/page-title.jpg);
    background-size: cover;
}

.heading1
{
    color:white;
    font-size: 48px;
    font-family: 'Barlow Condensed', sans-serif;
    padding-bottom:10px;
    margin-top: 109px;
}

.heading2
{
    color:white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top:20px;
    margin-left:5px;
    font-weight:600;
    display: inline;
}

.a1:hover 
{
    color:#86c33a;
    text-decoration: underline;
}

.s1 
{
    margin-left:10px;
    color:white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top:20px;
    margin-left:5px;
    font-weight:600;
}

.s2 
{
    margin-left:10px;
    color:#86c33a;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top:20px;
    margin-left:5px;
    font-weight:600;
}

.section2 
{
    display: flex;
    align-items: center;
    padding-left:100px;
}

a 
{
    text-decoration: none;
    color: #dddddd;
}

.section14 
{
    background-color:#252d39;
}


.text18 
{
    font-weight: 500;
    color: #dddddd;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    margin-top: 56px;
    margin-left: -136px;
    padding:5px;
}

.p19 
{
    margin-top:20px;
    
}

.heading18 
{
    font-size:22px;
    font-family: 'Barlow Condensed', sans-serif;
    color:white;
    margin-top:20px;
}


.circles2 
{
    display: flex;
}

.circle2 
{
    width:45px;
    height:45px;
    border:1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    margin-top:20px;
    background-color:transparent;
    transition:all 1s;
}

.circle2:hover
{
    background-color: #86c33a;
    border:none;
}



.fa-facebook 
{
    color:white;
    padding: 15px 17px;
    cursor:pointer;
}

.fa-twitter
{
    color:white;
    padding: 15px 15px;
    cursor:pointer;
}

.fa-linkedin
{
    color:white;
    padding: 13px 15px;
    cursor:pointer;
}

.fa-pinterest
{
    color:white;
    padding: 13px 15px;
    cursor:pointer;
}

.mainbox7 
{
    margin-top:20px;
}

ul li 
{
    list-style: none;
    padding:10px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.heading19 
{
    font-family: "Barlow Condensed", sans-serif;
    color:white;
}

.heading20 
{
    font-family: "Barlow Condensed", sans-serif;
    color:white;
}

.heading21 
{
    font-family: "Barlow Condensed", sans-serif;
    color:white;
    margin-left: -65px; 

}


.mainbox8 
{
    margin-left: 33px;
    display:flex ;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box9 
{
    margin-left: 2px;
}

.box10 
{
    height: 55px;
    width:400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    margin-left: -32px;
    margin-top:25px;
    
}

.b3 
{
    background: #86c33a;
    border:none;
    padding:19px;
    color:white;
    font-family: "Open Sans", sans-serif;
    font-weight:700;
    position: absolute;
    top: 54px;
    right: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mainbox9 
{
    position: relative;  
}

.im10 
{
    width:140px;
    height:auto;
}

.mainbox3 {
    display: flex;
    margin: 30px 100px;
    padding: 15px;
    margin-bottom:102px;
}

.box3 {
    width: 350px;
    height: 425px;
    z-index: 1;
    margin-left: 25px;
    box-shadow: 0 15px 39px rgba(8,18,109,.1);
    background-color: white;
    position: relative;
    transition: all 1s;
    margin-bottom: 80px;
    /* padding-left:10px; */
}

.box31 {
    background-image: url(./Assets/team-1.jpg);
    background-size: cover;
    padding-left:10px;
}

.box33 {
    background-image: url(./Assets/team-3.jpg);
    background-size: cover;
}

.box32 {
    background-image: url(./Assets/team-2.jpg);
    background-size: cover;
}

.heading7 {
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 80px;
}

.heading10 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    margin-top: 10px;
}

.profile1 {
    position: absolute;
    bottom: -98px;
    left: 15px;
    text-align: center;
    margin-left: 65px;
    margin-top: 60px;
}

.green {
    background-color: #85c33ae1;
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 20px;
}

.box3:hover .green 
{
    display: block;
}

 .mainbox4 
{
    padding-top:130px;
} 

/* .mbox1 
{
    border:2px solid black;
} */

.pa1 
{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #818385;
    font-size:22px;
}

.head1 
{
    color: #172231;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    font-size:48px;
    margin-top:10px;
}

.pa2 
{
    font-weight: 400;
    color: #818385;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    margin-top:30px;
}

.b21 
{
    border: none;
    background-color: #86c33a;
    color: white;
    font-weight: 700;
    margin-top: 40px;
    width: 163px;
    border-radius: 30px;
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
    transition: all 1s;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.b21:hover 
{
    background-color: #70b41c;
}

.im2 
{
    width:450px;
}

.mainbox4 
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 72px;
}

.section4 
{
    position: relative;
}

.im4 
{
    position: absolute;
    top:0;
    right:0;
}

.mbox3 
{
    padding-left:22px;
}

.sp1 
{
    font-size: 44px;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    color:#70b41c;
}

.sp2
{
    font-size: 44px;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
}

.pa4 
{
    font-weight: 400;
    color: #818385;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    margin-bottom:20px;
}

.mainbox5 
{
    display: flex;
    justify-content: space-around;
    /* padding-left:130px; */
    margin:50px 100px;
    margin-bottom:100px;
}

.mainbox6 
{
    display: flex;
    padding: 7px;
    align-items: center;
    margin: 0px -17px;
}

.box16 
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #86c33a;
}

.p20 
{
    color: #818385;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

.section6 
{
    display: flex;
    justify-content: space-between;
    background-color: #f5f6fa;
}

.head5 
{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #818385;
    font-size:22px;
}

.head6 
{
    color: #172231;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    font-size:48px;
}

.p5 {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #818385;
}

 .fa-snowflake-o 
{
    padding: 26px 28px;
    color: #86c33a;
} 

.circle {
    width: 100px;
    height: 100px;
    border-radius: 130px 120px 160px 130px;
    border: 1px solid black;
    background: rgba(147 203 79 / 21%);
    border: 2px solid #86c33a;
    /* margin: 40px auto; */
}

.mainbox30 
{
    display: flex;
    margin-top:40px;
}

.p6 {
    font-family: 'Open Sans', sans-serif;
    color: #818385;
    margin-top:10px;
    margin-left:2px;
}

.mbox31 
{
    margin-left:20px;
}

.heading4 {
    font-size: 48px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}

.text10 
{
    margin-top:100px;
}

.fa-code 
{
    padding:28px 25px;
    color:#70b41c;
}

.im3 
{
    width:100%;
    height:100%;
}

.text6 
{
    padding-top: 7px;
    padding-left: 26px;
}

.mainbox27 
{
    display: flex;
}

.section10 
{
    background-color: #252d39;
    padding-top:130px;
    width:100%;
}

.sect10 
{
    margin-top:70px;
}
.im20 
{
    position: absolute;
    top:0;
    left:30%;
    width:350px;
}

.head3 
{
    font-size:23px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color:white;
}

.heading30 
{
    margin-top:20px;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    font-size:48px;
    color:white;
}

.pa10 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    margin-top:20px;
    color:white;
}

.box27 
{
    width:180px;
    height:107px;
    padding:15px;
    border: 1px solid #404751;
}

.mainbox40 
{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.section10 
{
    display: flex;
    justify-content: space-around;
}

.sect10 
{
    padding-bottom:130px;
}

.sect20 
{
    margin-top:20px;
}

.im27 
{
    margin:30px 15px;
}

.im32 
{
    margin: 6px 22px;
    width: 103px;
}

.im28 
{
    margin: 21px 15px;
}

.im29 
{
    margin:30px 15px;
}

.im30 
{
    margin: 20px 15px;
    width: 128px;
}

.im31 
{
    margin: 17px 15px;
}

.mainbox60 
{
    display: flex;
    margin-bottom:20px;
}

.head31 
{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #818385;
    text-align:center;
    font-size: 22px;
}

.head50 
{
    color: #172231;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    transition: 0.2s ease;
    font-size: 22px;
}

.section14 
{
    display: flex;
    justify-content: center;
    padding:100px;
}

.u1
{
    margin-top:20px;
}

input[type=text] {
    width: 373px;
    padding: 10px 30px;
    height: 55px;
    margin: 25px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color:white;
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    border-radius:30px;
    font-size:16px;
}

::selection {
    color: white;
    background: #6b9c2e;
  }

::placeholder {
    color: white;
    /* Firefox */
    font-size:16px;
  }
input:focus 
{
    outline: none;
    font-size:16px;
}

.fa-angle-right 
{
    padding-right:10px;
}

.box50
{
    margin-left: -82px;
}

.b4 
{
    background: #86c33a;
    border:none;
    padding:19px;
    color:white;
    font-family: "Open Sans", sans-serif;
    font-weight:700;
    position: absolute;
    top: 55px;
    right: -27px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section21
{
    background-color: #252d39 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
}

.u11
{
    display: flex;
}

.fa-facebook 
{
    color:white;
    padding: 15px 17px;
}

.fa-facebook-f
{
    color:white;
    padding: 15px 2px;  
}

.fa-facebook-f:hover
{
    color:#86c33a;
    cursor:pointer;
}

.fa-twitter
{
    color:white;
    padding: 15px 2px;
}

.fa-twitter:hover
{
    color:#86c33a;
    cursor:pointer;
}

.head51 
{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.head52 
{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.mhead1 
{
    display: flex;
}

.head51:hover
{
    color:#86c33a;
    cursor: pointer;
}

.sp51
{
    color:#6b9c2e;
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
}

.h51 
{
    border-right:1px solid grey;
}

.fa-rss{
    padding: 15px 2px;
    color:white;
}

.fa-rss:hover
{
    color:#86c33a;
    cursor:pointer;
}

.fa-google{
    padding: 15px 0px;
    color:white;
}

.fa-google:hover
{
    color:#86c33a;
    cursor:pointer;
}

.fa-vimeo
{
    padding: 15px 1px;
    color:white;
}

.fa-vimeo:hover 
{
    color:#86c33a;
    cursor:pointer;
}

.sect21 
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0px 50px;
}

.box38 
{
    width: 326px;
    height: 142px;
    background-color: #86c33a; 
    position: absolute;
    bottom: 20%;
    left:0px;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fte 
{
    position: relative;
}

.head81 
{
    margin-left: 32px;
    font-family: "Barlow Condensed", sans-serif;
    font-size:22px;
    color:white;
    font-weight:600;
    /* color:#70b41c */
}

.box39 
{
    height: 100px;
    width: 98px;
    border-radius: 50%;
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
}

.fa-play 
{
    padding: 27px 37px;
}

.dbox 
{
    display: flex;
    margin-bottom:30px;
}

.dbox11 
{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
}

header ul li a:hover 
{
    color:#86c33a;
}


.dbox1
{
    height: 5px;
    width: 30px;
    border-radius:30px;
    background-color: #70b41c;
} 

.dbox2
{
    height: 5px;
    width: 15px;
    margin-left:4px;
    border-radius:30px;
    background-color: #70b41c;
} 

.dbox3
{
    height: 5px;
    width: 7.5px;
    margin-left:4px;
    border-radius:30px;
    background-color: #70b41c;
} 

.text66 
{
    padding-left: 135px;
    padding-top: 147px;
}


@media screen and (min-width:0px) and (max-width:425px) 
{
    *
    {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    header 
    {
        display:flex;
        justify-content: space-between;
        padding:15px;
    }

    header ul li a 
    {
        display: flex;
        justify-content: space-between;
        display:none;
        margin:0px 0px;
    }    

    .b1 
    {
        display: none;
    }

    .mainbox2 
    {
        display: flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content: center;
        margin:70px -6px;
    }

    .mainbox 
    {
        display: flex;
        flex-wrap:wrap;
        flex-direction:column;
    }

    .box 
    {
        margin:15px -35px;
    }

    .mainbox6 
    {
        padding:25px;
        display: flex;
        flex-direction: column;
    }

    .text18 
    {
        margin-top: 21px;
        margin-left: 15px;
    }


    .mainbox9 
    {
        margin:20px 0px;
    }

    .heading21 
    {
        margin-left: -17px;
    }

    .box10 
    {
        margin-left: 21px;
    }

    .material-icons 
    {
        font-weight: 600;
        display: block!important;
    }

    .mainbox4 
    {
        display:flex;
        flex-wrap:wrap;
        margin: 0px 51px;
    }

    .section10
    {
        display: flex;
        flex-wrap:wrap;
        padding-left:27px;
        padding-right:27px;
        padding-top:94px;
    }

    .mainbox3 
    {
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-bottom: 65px;
    }


    .mainbox5 
    {
        display: flex;
        flex-direction: column;
        margin: 50px 43px;
    }

    .section6 
    {
        display: flex;
        flex-wrap:wrap;
    }

    .mainbox3 
    {
        margin:0;
    }

    .mainbox40 
    {
        display: grid;
        grid-template-columns: repeat(3,auto);
        margin-top: 1px;
        margin-left: -6px;
        padding-bottom:80px;
    }

    .mainbox27{
        display:flex;
        flex-direction:column;
        padding:0px;
    }

    .text6 
    {
        padding: 64px;
    }

    .im2 
    {
        width: 384px;
        margin-left: 26px;
    }

    .profile1 {
        position: absolute;
        bottom: -69px;
        left: 15px;
        text-align: center;
    }

    .box3 
    {
        margin-top: 27px;
        margin-left: 7px;
    }

    .heading4 
    {
        text-align: center;
        margin:0px 48px;
    }

    .text10 
    {
        margin-top:70px;
    }
    
     .sect10 
    {
        padding-bottom: 20px;
    } 

    .box27 
    {
        width: 126px;
        height: 107px;
    }

    .im27 
    {
        margin: 30px -5px;
        width: 101px;
    }

    .im28 
    {
        margin: 23px -5px;
        width: 101px;
    
    }

    .im29 
    {
        margin: 30px -5px;
        width: 101px;
    }


    .im30 
    {
        margin: 27px -5px;
        width: 106px;
    }


    .im31 
    {
        margin: 22px -5px;
        width: 101px;
    }


    .im32 
    {
        margin: 18px 7px;
        width: 82px;
    }

    .im9 
    {
        margin-top:100px;
        margin-left:20px;
    }

    .section14 
    {
        display: flex;
        justify-content: center;
        padding:0px;
    }

    .mainbox8 
    {
        margin-left: -17px;
        margin-top:20px;
    }

    input[type=text] {
        width: 289px;
        padding: 10px 30px;
        height: 55px;
        margin: 25px 59px;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
        font-size: 16px;
    }

    .section21
    {
        display: flex;
        flex-direction: column;
        padding: 0px 27px;
    }

    .sect21 
    {
        margin: 0px 7px;
    }

    .head51 {
        padding: 4px;
    }

    .sp51 
    {
        margin-top: 2px;
    }

    .mhead1 
    {
        padding-bottom:10px;
        margin-top: -13px;
    }

    .h51 {
        border-right: 1px solid grey;
        margin-right:4px;
    }
}